<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <% if (login) { %>
        <p>Bienvenue, <%= login %> !</p>
    <% } else { %>
    <% } %>

<main>
    <h1>Page d'administration</h1>
    <p>Bienvenue, <%= login %> ! Vous êtes en mode administrateur.</p>
</main>

    <a href="/">Retour à l'accueil</a>

    <%- include ('partials/footer') %>
</body>
</html>
